streamlit
langchain
langchain-openai
langchain-qdrant
langchain-community
python-dotenv
langgraph
tavily-python
pydantic
langchain-groq
langchain-experimental
langchain-google-vertexai
vertexai
datasets
graphviz
